.App {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: #134E5E;
  background: -webkit-linear-gradient(120deg, #71B280, #134E5E);
  background: linear-gradient(120deg, #71B280, #134E5E);
}

.App-main {
  padding: 80px 15px;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-body {
  width: 100%;
}

.App-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.App-loading {
  margin: 0 auto;
  display: block;
  flex-shrink: 0;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

.App-error {
  color: #5e2525;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

@media screen and (max-width: 576px){
  .App-main {
    padding: 60px 15px;
  }
  
  .App-title {
    font-size: 1.8rem;
  }
}